@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 200%;
}
h2 {
  font-size: 180%;
}
h3 {
  font-size: 150%;
}
h4 {
  font-size: 140%;
}

iframe.instagram-media {
  max-width: 100% !important;
  width: 100% !important;
  min-width: auto !important;

  height: 450px !important;
}
@media (max-width: 980px) {
  iframe.instagram-media {
    height: 400px !important;
  }
}

@media (max-width: 780px) {
  iframe.instagram-media {
    height: 320px !important;
  }
}

@media (max-width: 600px) {
  iframe.instagram-media {
    height: 280px !important;
  }
}
